/build/
/skin_plugin/build/
/skin_plugin/bin/
/app/.gradle/
/app/build/
/skin_plugin/.gradle/
/.gradle/
/.idea/
/.vscode/
skin_plugin/centralPortal.properties
skin_plugin/gpg.asc
/app_skin/build/
/app_skin/.gradle/
