/build/
/.gradle/
/.idea/
/.vscode/

/app/build/
/app/.gradle/

/app_skin/build/
/app_skin/.gradle/

/skin_plugin/build/
/skin_plugin/bin/
/skin_plugin/.gradle/
skin_plugin/centralPortal.properties
skin_plugin/gpg.asc
/app/src/main/assets/app_skin_debug.apk
